<table id="blocks">
  <tr>
    <th>ID</th>
    <th>Теория</th>
    <th>Количество задач</th>
    <th></th>
    <th></th>
  </tr>
  <% @blocks.each do |block|  %>
    <tr id="<%= block.id %>">
      <td><%= block.id %></td>
      <td><%= block.theory %></td>
      <td align="center"><%= block.practices.size  %></td>
      <td><%= link_to "Добавить задачи",edit_block_path(block) %></td>
      <td>
        <%= form_with url: lesson_block_path(lesson_id:@lesson.id,id:block.id), method: :delete do |f| %>
          <%= f.hidden_field :block_id, value: block.id  %>
          <%= f.submit 'Удалить блок', class: 'delete_block', id: "block_#{block.id}" %>
        <% end %>
        </td>
    </tr>
  <% end %>

</table>