<h1>Dashboard</h1>
<li> <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %> </li>
<li> <%= link_to 'Настройки', user_registration_path, :method => :put %> </li>
<li><%= link_to 'Помощь', help_path %></li>

<%= render template:  "categories/index" %>

<h1>Созданные курсы</h1>
<% @made_courses.each do |course| %>
  <li>
    <%= link_to course.name, course%>
  </li>
<% end %>
<%= render template:  "subscription/show" %>
