<body class="body">
<p id="notice"><%= notice %></p>
<li><%= link_to 'Профиль', user_profile_path(current_user) %></li>
<li><%= link_to 'Помощь', help_path %></li>
<li> <%= link_to 'Настройки', edit_user_registration_path, :method => :get %> </li>
<li> <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %> </li>
<%= link_to "Создать курс", new_course_path ,:method => :get%>
<%= render template:  "subscriptions/show" %>
<h2>Категории</h2>
<% @categories.each do |category| %>
  <li>
    <%= link_to category.name, category_courses_path(category), id:category_courses_path(category)%>
  </li>
<% end %>
<h2>Мои курсы</h2>
<%= render template:  "courses/index" %>

</body>
