<h2>Редактировать урок</h2>
<%= simple_form_for(@lesson)  do |p| %>
  <%= p.error_notification %>
  <%= p.input :name %>
  <%= p.button :submit, class:'update_lesson' %>
<% end %>
<h2>Добавить блок</h2>
<%= simple_form_for(@block,url: lesson_blocks_path(@lesson.id), method: :create)  do |p| %>
  <%= p.input :theory%>
    <%= p.submit 'Создать блок', class: 'create_block' %>
<% end %>
  <%= render partial:  "lessons/blocks/blocks" %>
