<% if @course.errors.any? %>
  <p>Your submission has <%= pluralize(@course.errors.count, 'error') %>
  <ul>
    <% @course.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>Создать курс</h1>
<%= form_for @course  do |p| %>
  <p>
    <%= p.label "Название" %>
    <%= p.text_field :name %>
  </p>
  <div>
  <% Category.all.each do |category| %>
    <li data-category_name="<%=category.name%>">
      <%= check_box("category_ids", category.id ) %>
      <%=  category.name -%>
    </li>
  <% end %>
  </div>
  <div>
    <button class='createCourse'>Создать курс</button>
  </div>
<% end %>
